// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// project color
$primary-color: #F4B8B7;
$secondary-color:#FFAD01;
$btn-color: #E2574C;
$card-color: #FFF2D0;
