
<h1>Réserver votre animal</h1>
<%= simple_form_for [@pet, @booking], html: { class: "form-class"} do |f| %>

<%= f.input :start_date, as: :string, start_year: Date.today.year, input_html: {id: "start"}, label: "Date de début" %>
<%= f.input :end_date, as: :string, input_html: {id: "end"}, label: "Date de fin" %>
<%= f.submit "Je réserve", class: "btn btn-submit-pet" %>

<% end %>
