<div class="cards-presentation">
  <div class="row">

    <div class="col-12">
      <div class="card home-card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?dog" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Trouver un animal</h1>
              <p class="card-text">Trouver un animal près de chez vous et profitez-en le temps d'un weekend... ou plus si affinités!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card home-card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?cat" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Louer votre animal</h1>
              <p class="card-text">Vous planifiez de vous absenter quelques jours ou semaines pour profiter d'une escapade amoureuse, mais vous culpabiliser de laisser votre animal de compagnie seul? <br> Louer votre merveille à un amoureux des animaux! </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card home-card mb-5">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?in-love" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Rencontrer le grand Amour</h1>
              <p class="card-text">Profitez d'un animal le temps d'un weekend pour augmenter vos chances de séduire et de trouver l'amour de votre vie!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
