<div class="cards-presentation">
  <div class="row">

    <div class="col-12">
      <div class="card home-card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?dog" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Find a pet</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card home-card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?cat" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Rent your pet</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card home-card mb-5">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag ( "https://source.unsplash.com/400x300/?in-love" ), class:"home-card-img" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Meet the love of your life!</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
