<div class="custom-container" id="home-banner">
  <h1>A cool name for our Pet Renter app</h1>
  <a class="btn btn-primary" href="#">Find a pet!</a>
</div>

<div class="container home-presentation">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %>
    </div>
  </div>
</div>
