<div class="custom-container" id="home-banner">
  <h1>Loc'A : Louer votre animal!</h1>
  <%= link_to 'Je trouve mon animal!', pets_path, class:"btn-home-page" %>
</div>

<div class="container home-presentation">
      <%= render 'shared/homecard' %>
  </div>
</div>


