<div class="custom-container" id="home-banner">
  <h1>A cool name for our Pet Renter app</h1>
  <%= link_to 'Find a pet!', pets_path, class:"btn btn-primary" %>
</div>

<div class="container home-presentation">
      <%= render 'shared/homecard' %>
  </div>
</div>


