<div class="custom-container" id="home-banner">
  <h1>Peter : Rent a pet!</h1>
  <%= link_to 'Find a pet!', pets_path, class:"btn-home-page" %>
</div>

<div class="container home-presentation">
      <%= render 'shared/homecard' %>
  </div>
</div>


