<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card-pet">
  <div class="card-row">
    <h2 class="card-pet-name"> Pet name </h2>
  </div>
  <div class="card-pet-info">
    <ul class="pet-details">
      <li class="pet-detail-type"> Type </li>
      <li class="pet-detail-race"> Race </li>
      <li class="pet-detail-age"> Age </li>
    </ul>
    <p class="pet-description"> Lorem ipsum </p>
    <footer class="content-footer">
      <%= link_to "Book this pet", "#", class: "button-booking" %>
      <%= link_to "View pet details", "#", class: "button-details" %>
    </footer>
  </div>
</div>

