
.my-btn {
  padding: 6px 15px;
  text-align: center;
  &:hover{
    text-decoration:none;
  }
}

.btn-sign-in-navbar {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  &:hover{
    color: #582630;
  }
}

.btn-pet-show {
  background-color: $orange;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  margin: 0 20px;
  &:hover {
    opacity: 1;
    color: white;
  }
}

.btn-card {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 8px;
  &:hover {
    color: $btn-color;
    border: 2px solid $btn-color;
  }
}

.btn-card-book {
  color: #128a54;
  border: 2px solid #128a54;
  border-radius: 8px;
  &:hover {
    color: $green;
    border: 2px solid $green;
  }
}

// .booking-button {
//   width: 200px;
//   text-align: center;
//   margin: auto;
// }

.btn-home-page {
  color: white;
  background-color: $primary-color;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 24px;
  &:hover {
    color: #582630;
    text-decoration:none;
  }
}

.btn-submit-pet {
  color: white;
  background-color: $primary-color;
  border-radius: 12px;
  border: 1px solid white;
  &:hover{
    color: #582630;
  }
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

// LIEN VERS SHOW DEPUIS LE DAHSBOARD

.show-from-dashboard {
  color: black;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}









