
.my-btn {
  padding: 6px 15px;
  text-align: center;
  &:hover{
    text-decoration:none;
  }
}

.btn-sign-in-navbar {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
}

.btn-pet-show {
  background-color: $orange;
  color: white;
  border-radius: 5px;
  margin: 0 20px;
  &:hover {
    background-color: #b5631a;
  }
}

.btn-card {
  color: #F4B8B7;
  border: 2px solid #F4B8B7;
  border-radius: 8px;
  &:hover {
    color: #582630
  }
}

.booking-button {
  width: 200px;
  text-align: center;
  margin: auto;
}

.btn-home-page {
  color: white;
  background-color: #F4B8B7;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 24px;
  &:hover {
    color: #582630;
    text-decoration:none;
  }
}
