
.my-btn {
  padding: 6px 15px;
  text-align: center;
  &:hover{
    text-decoration:none;
  }
}

.btn-sign-in-navbar {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  &:hover{
    color: #582630;
  }
}

.btn-pet-show {
  background-color: $orange;
  color: white;
  border-radius: 5px;
  margin: 0 20px;
  &:hover {
    background-color: #b5631a;
  }
}

.btn-card {
  color: #F4B8B7;
  border: 2px solid #F4B8B7;
  border-radius: 8px;
  &:hover {
    color: #582630
  }
}

// .booking-button {
//   width: 200px;
//   text-align: center;
//   margin: auto;
// }

.btn-home-page {
  color: white;
  background-color: #F4B8B7;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 24px;
  &:hover {
    color: #582630;
    text-decoration:none;
  }
}

.btn-submit-pet {
  color: white;
  background-color: #F4B8B7;
  border-radius: 12px;
  border: 1px solid white;
  &:hover{
    color: #582630;
  }
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
