.custom-container {
  width: 100vw;
  margin: 0 auto;
  padding: 75px 2vw 120px 2vw;
  overflow: scroll;
}

.home-presentation {
  padding: 50px 0;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

// INDEX PETS

.wrapper {
  display: flex;
}

.row-left {
  width: 70%;
}

.row-right {
  width: 30%;
}
