.custom-container {
  width: 100vw;
  margin: 0 auto;
  padding: 75px 5vw 120px 5vw;
  overflow: scroll;
}

.home-presentation {
  padding: 50px 0;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
}
