.footer {
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 16px;
  color: $btn-color;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding-right: 10px;
}

.footer-links a:hover {
  opacity: 1;
}


.footer .fa-heart {
  color: white;
}
