.form-class {
  background-color: white;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(230,230,230);
  margin: auto;
  color: #daa3a2;
  label {
    color: $btn-color;
  }
}


.booking-validation-form {
  display: flex;
  justify-content: space-around;
  .booking-validation-btn {
    background-color: transparent;
  }
}
