.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 6px;
  border: 0.5px solid #F4B8B7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Open Sans', sans-serif;
  h2, i {
    color: $btn-color;
  }
}

.map-container {
  height: 100vh;
  margin-top: 10px;
}

#map {
  height: 100% !important;
  width: 100% !important;
}

.sticky-map {
  position: sticky;
  top: 60px;
  right: 0;
}
