.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  margin: 0 10px;
  border-radius: 6px !important;
  border: 0.5px solid #F4B8B7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Open Sans', sans-serif;
    i {
    color: $btn-color;
  }
}

.mapboxgl-popup-content a {
  color: $btn-color;
  opacity: 0.7;
  padding-top: 10px;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}


.map-container {
  height: 100vh;
  margin-top: 10px;
}

#map {
  height: 100% !important;
  width: 100% !important;
}

.sticky-map {
  position: sticky;
  top: 60px;
  right: 0;
}
