.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  height: 300px;
  width: 600px;
}

#map {
  height: 100% !important;
  width: 100% !important;
}
