.navbar-lewagon {
  justify-content: space-between;
  height: 55px;
  background: $primary-color;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.navbar-nav .active > .nav-link {
  color: $white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.74)
}
